




<div class="page page--background">
    <header>
        {{> back-button}}
    </header>

    <form class="page__section">
        <h1 class="page__title">Підтвердження пошти</h1>

        <p class="page__subtitle">На вашу пошту надіслано код для підтвердження облікового запису. Введіть його сюди.</p>

        <div class="form">
            <div class="form__item">
                {{>field action="signupConfirmpForm.change" label="Код" type="number" name="code" placeholder="Ваш код"}}
                <span name="code" class="form__error">Помилка</span>
            </div>
        </div>

        <button onClick="signupConfirmForm.submit()" class="button button-disabled" type="button">Відновити пароль</button>

        <span class="alert alert--disabled">Підтвердити</span>

        <span class="link__prefix">Загубили код?
            <a href="/signup-confirm" class="link" id="renew">
                Відправити ще раз
            </a>
        </span>

    </form>
</div>