<div class="field field--checkbox">
    <button onClick="
        fieldCheckbox.toggle(this);

        {{action}}('{{name}}', this.hasAttribute('active'));
    "   type="button" class="field__wrapper">
        <span class="field__icon"></span>
        <span class="field__label field__label--checkbox">{{label}}</span>
    </button>
</div>